/* ------- PAGE SETTINGS ----*/

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: #fa6169;
}

.container-fluid{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    margin: 0 50px 0 50px;
}

.container{
    height: 80vh;
}


#hold svg{
    margin-bottom: 10px;
}

p{
    color: black;
    font-size: 1.1rem;
}

h2{
    font-size: 3rem;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.411)
}



/* ------- BUTTONS ------ */

button{
    border: none;
    background-color:rgba(250, 235, 215, 0);
    transition: 100ms ease-in;
    font-weight: bold;
}

button:hover{
    transform: scale(1.1);
}

#rolldice{
    margin-top: 6em;
}


/*------ NEW GAME ----*/

.newgame p svg{
    margin: 0 0 3px 0;
    color: rgba(255, 96, 96, 0.753);
}

#newgamebtn{
    transition: 2s ease-out;
}

.newgameAnimation{
    animation: wiggle 2.5s linear 5 forwards;
}

#newgamebtn{
    margin: 2em 0 7em 0;
}



/* ------- ACTIVE CLASS -----*/

.active-color{
    color: rgba(29, 28, 28, 0.842);
    font-weight: bold;
}

.active-player{
    content: url(/assets/images/circle-fill.svg);
    width: 18px;
    padding:0 0 5px 5px;  
}




/* ----- BOXES -----*/

.box0, .box1 {
    width: 150px;
    height: 100px;
    background-color: rgb(240, 57, 57);
    border:1px solid rgba(0, 0, 0, 0.164);
    margin: 0 auto;
    color:white;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 6em;
}


/* ------ DICE and SCORES -----*/


#dice img{
    width: 130px;
    display: block;
    margin: 0 auto;
}
#dice{
    margin-top: 6em;
}

#current0, #current1{
    font-size:1.5rem;
    color: white;
}


#scorep0, #scorep1{
    font-size: 5rem;
    color: #fa616986;
}



/* -------- RESPONSIVE ------- */

@media(max-width: 768px){

    .container-fluid{
        height: auto;
        margin: 0;
    }
    .container{
        height: auto;
    }

    h2{
        font-size: 2rem;
        margin-bottom: 0;
    }

    #scorep0, #scorep1{
        font-size: 3.5rem;
        margin-bottom: 0;
    }

    .box0, .box1{
        margin: 0 auto 40px;
        width: 140px;
        height: 80px;
    }

    #dice img{
        display: none;
    }

    #dice{
        margin:0 0 40px 0 ;
        
    }

    .buttons{
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    #rolldice{
        margin-top:0;
    }

    #newgamebtn{
        margin: 0 0 30px 0;
    }

}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);

      
    }
    40%, 100% {
      transform: rotateZ(0);
    }
} 
